.grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    border: 10px solid black;
    max-width: 500px;
    max-height: 500px;
    width: 90vw; 
    height: 90vw;
    /*box-shadow: 60px -16px teal;*/
}

.square {
    width: 100%;
    border: 1px solid black;
    background-color: rgb(255, 255, 255);
    position: relative;
    transition: all 0.2s ease-in-out;
}

.square-glow {
    filter: brightness(200%)
}

.square-left {
    border-left: 5px solid black;
}

.current {
    background-color: aqua;
}

.square:hover::after {
    content: '';
    width: 100%;
    height: 100%;

    background: rgba(72, 72, 72, 0.5);
    position: absolute;
    left: 0px;
}

.blocked::after {
    content: '';
    height: 100%;
    width: 100%;
    background: rgba(72, 72, 72, 0.5);
    position: absolute;
    left: 0px;
}

.row {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.row-bottom {
    border-top: 5px solid black;
}






